<header>
  <div class="logo-container">
    <img src="" alt="">
    <h1>Plataforma CREAPTICA - Facultad de Artes</h1>
  </div>

  <nav>
    <ul>
      <li>
        <a routerLink="/inicio" routerLinkActive="active">Inicio</a>
      </li>
      <li>
        <a routerLink="/documentos" routerLinkActive="active">Documentos</a>
      </li>

      <li *ngIf="!(isLoggedIn$ | async)">
        <a routerLink="/login" routerLinkActive="active" class="login-link">Iniciar sesión</a>
      </li>

      <li *ngIf="isLoggedIn$ | async">
        <button (click)="onLogout()" class="logout-button">Cerrar sesión</button>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>© 2025 - Proyecto de Grado - Santiago Delacruz</p>
</footer>
