
header {
  background-color: #4ebaaa;
  color: white;
  padding: 15px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo-container h1 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2b3a42;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}


nav ul li a,
nav ul li .logout-button {
  display: inline-block;
  padding: 8px 15px;
  text-decoration: none;
  color: #2b3a42;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border: 2px solid transparent;
  cursor: pointer;
}


nav ul li a:hover,
nav ul li a.active {
  background-color: #2b3a42;
  color: white;
}

.login-link {
  border-color: #2b3a42;
}

.logout-button {
  background-color: #c94c4c;
  color: white;
  border: none;
  font-family: inherit;
  font-size: inherit;

  &:hover {
    background-color: #a53c3c;
  }
}
